<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.test.mapper.UserDao">
	<!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
	<!--获得所有用户 -->

	<select id="getAllUsers" resultType="UserModel">
		select
		id,username,password,phone,email,createTime,editTime from user
	</select>
	<!--获得用户对象通过id -->
	<select id="getUserById" resultType="UserModel">
		select
		id,username,password,phone,email,createTime,editTime from user where
		id=#{id}
	</select>

	<!--获得用户对象通过username 和密码 --> 
	<select id="getUserByNameAndPassword" resultType="UserModel">
		select
		id,username,password,phone,email,createTime,editTime from user where
		username=#{username},password=#{password}
	</select>
	<!--获得用户对象通过username -->
	<select id="getUserByName" resultType="UserModel">
		select
		id,username,password,phone,email,createTime,editTime from user where
		username=#{username}
	</select>


	<!-- 增加 -->
	<insert id="add">
		insert into
		user(username,password,phone,email,createTime,editTime)
		values(#{username},#{password},#{phone},#{email},#{createTime},#{editTime})
	</insert>
	<!-- 删除 -->
	<delete id="delete">
		delete from user where id=#{id}
	</delete>
	<!-- 更新 -->
	<update id="update">
		update user set
		username=#{username},password=#{password},phone=#{phone},email=#{email},editTime=#{editTime}
		where
		id=#{id}
	</update>
</mapper>